@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
    font-family: 'Ubuntu Mono', monospace;
    letter-spacing: 2.6px;
    background-color: none;
}




.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 11vh;
}

.btn-1 {
    width: 270px;
    height: 80px;
    border: none;
    color: #b4e852;
    border-radius: 4px;
    transition: ease-out 0.3s;
    background-color: #1a1a1b;
    font-size: 2rem;
    outline: none;
    border: 3px solid #b4e852;
    position: relative;
    z-index: 1;
}

.btn-1:hover {
    cursor: pointer;
    color: #1a1a1b;
}

.btn-1::before {
    transition: 0.3s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #b4e852;
}

.btn-1:hover::before {
    transition: 0.3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
